// Stili per il cuore filled quando liked (come X/Twitter)
.heart-icon {
  // Cuore pieno rosso quando liked
  &.heart-filled {
    ::ng-deep svg {
      fill: currentColor;
      stroke: currentColor;
    }
  }
}
