:host {
  display: contents;
}

.mention-dropdown {
  // Scrollbar styling
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 3px;

    &:hover {
      background-color: rgba(156, 163, 175, 0.7);
    }
  }
}
