spring:
  output:
    ansi:
      enabled: always
  application:
    name: backend
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:mysql://localhost:3306/class_social_media?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${DB_USERNAME:dbuser}
    password: ${DB_PASSWORD:secret}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
  security:
    user:
      name:  ${SPRING_SECURITY_USER_NAME:admin}
      password: ${SPRING_SECURITY_USER_PASSWORD:admin}
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true
              required: true
            ssl:
              trust: "*"
            connectiontimeout: 5000
            timeout: 5000
            writetimeout: 5000
jwt:
  secret: ${JWT_SECRET:default-secret}
  access-token-expiration: 1800000
  refresh-token-expiration: 2592000000
server:
  port: 8080

        

